@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr,span{
font-weight: normal;
margin:0;padding:0;}
body{font-size:14px;font-family: "Microsoft YaHei" ! important;color:#000000;background:#fff;margin:0 auto;padding:0px;}
a{text-decoration:none;color:#235aa7;outline:none;}
a:active{star:expression(this.onFocus=this.blur());}
img{border:0px;vertical-align: middle;}
li{list-style: none;}
input:focus,textarea:focus{
    outline: none;
}
html,body{
    -moz-user-select: none; -khtml-user-select: none; user-select: none;
}
select:focus{
    outline: none
}
body{
    /* min-width: 1200px; */
}
.w1200{
    width: 1200px;
    margin: auto;
}
.w1200:after{
    content: "";
    display: table;
    clear: both;
}
.clearflex:after{
    content: "";
    display: table;
    clear: both;
}
.loading img{
    width: 100%;
}
.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99999;
}
.loadingfa {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    color: #1f8adf;
    position: absolute;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    top: 50%;
}


@keyframes rotate{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes rotate{
from{-webkit-transform:rotate(0deg)}
to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
from{-moz-transform:rotate(0deg)}
to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
from{-ms-transform:rotate(0deg)}
to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate{
from{-o-transform:rotate(0deg)}
to{-o-transform:rotate(360deg)}
}
.xuanzhuan {
    animation: 2s linear 0s normal forwards infinite rotate;
    -webkit-animation: 2s linear 0s normal forwards infinite rotate;
    -moz-animation: 2s linear 0s normal forwards infinite rotate;
    -o-animation: 2s linear 0s normal forwards infinite rotate;
}
*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{/* min-width: 1600px; */overflow: auto;}
.main{

position: fixed;

left: 0px;

top: 0px;

width: 100%;

height: 100vh;

min-width: 1600px;

background: #0c1522;

overflow: hidden;

}
.main .head:after{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

background: linear-gradient(0deg, #0A1D40, #146788);
opacity: 0.6;
}
.main .head{
    position: relative;
height: 62px;
}
.main .head .logo{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url(../images/top.png) no-repeat center center;
}
.main .head .logo a{
    
}
.main .head .nav{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    text-align: center;
    font-size: 0px;
    padding: 0px 96px;
}
.main .head .nav li{
    display: inline-block;
    vertical-align: middle;
    width: calc((100% - 413px)/10);
    margin-top: 13px;
}
.main .head .nav li .h2tit:after{
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
content: "";
background: url(../images/default.png) no-repeat center center;
}
.main .head .nav li:hover .h2tit:after,
.main .head .nav li.current .h2tit:after{
background: url(../images/current.png) no-repeat center center;

}
.main .head .nav li .h2tit{position: relative;height: 40px;width: 134px;margin: auto;}
.main .head .nav li a{display: block;margin: auto;position: relative;z-index: 4;line-height: 40px;font-size: 16px;font-family: Microsoft YaHei;font-weight: 400;color: #90C8DC;text-align: left;padding-left: 44px;}
.main .head .nav li.center{
    width: 413px;
}
.main .head .nav li:nth-child(1) a{
 padding-left: 58px;   
 background: url(../images/i1.png) no-repeat 31px center;
}
.main .head .nav li:nth-child(2) a{
 background: url(../images/i5.png) no-repeat 17px center;
}
.main .head .nav li:nth-child(3) a{
 background: url(../images/i3.png) no-repeat 17px center;
}
.main .head .nav li:nth-child(4) a{
 background: url(../images/i2.png) no-repeat 17px center;
}
.main .head .nav li:nth-child(5) a{
 background: url(../images/i4.png) no-repeat 17px center;
}
.main .head .nav li:nth-child(7) a{
 background: url(../images/i7.png) no-repeat 17px center;
}
/*.main .head .nav li:nth-child(8) a{
 background: url(../images/i8.png) no-repeat 17px center;
}
.main .head .nav li:nth-child(9) a{
 background: url(../images/i9.png) no-repeat 17px center;
}*/
.main .head .nav li:nth-child(8) a{
 background: url(../images/i9.png) no-repeat 17px center;
}
.main .head .nav li:nth-child(9) a{
 background: url(../images/i10.png) no-repeat 17px center;
}
.main .head .nav li:nth-child(10) a{
    background: url(../images/i11.png) no-repeat 17px center;
}
.main .head,
.main .head *,.main .head *:after{
    -webkit-transition:all 0.4s;
-o-transition:all 0.4s;
-moz-transition:all 0.4s;
-ms-transition:all 0.4s;
transition:all 0.4s;

}
.height26{
    height: 26px;
}

.index_content{
    padding: 0px 20px;
    height: calc(100vh - 88px);
}
.index_content .wright,
.index_content .wleft{
    float: left;
    width: 399px;
    height: 100%;
}
.index_content .block_1 .content_model{
    
overflow: auto;
}
.index_content .title_model{
    
height: 39px;
    

    
line-height: 39px;
    
font-size: 0;
}
.index_content .baseitem{
    background: url(../images/border.png) no-repeat center 0;
    margin-bottom: 20px;
    overflow: hidden;
    background-size: 100% 100% !important;
    height: calc((100% - 60px)/3);
}
.index_content .title_model i{
    
display: inline-block;
    
vertical-align: middle;
    
margin-left: 166px;
    
width: 20px;
    
height: 100%;
    
margin-right: 11px;
}
.index_content .title_model span{
    
font-size: 18px;
    
font-family: Microsoft YaHei;
    
font-weight: bold;
    
color: #94D8DA;
    
display: inline-block;
    
vertical-align: middle;
}
.index_content .title_model .icon1{
    background: url(../images/m1.png) no-repeat center center;
}
.index_content .title_model .icon2{
    background: url(../images/m2.png) no-repeat center center;
    
}
.index_content .title_model .icon3{
    background: url(../images/m3.png) no-repeat center center;
    
}
.index_content .title_model .icon4{
    
    background: url(../images/m4.png) no-repeat center center;
}
.index_content .title_model .icon5{
    
    background: url(../images/m5.png) no-repeat center center;
}
.index_content .title_model .icon6{
    
    background: url(../images/m6.png) no-repeat center center;
}
.index_content .title_model .icon7{
    
background: url(../images/m7.png) no-repeat center center;
    
margin-left: 43%;
}
.index_content .title_model .icon8{
    
background: url(../images/m8.png) no-repeat center center;
    
margin-left: 43%;
}
.index_content .content_model{overflow: auto;height: calc(100% - 40px);}
.index_content .list_type1{
    
padding-top: 8px;
    
overflow: hidden;
}
.index_content .list_type1 li{
    
text-align: center;
    
float: left;
    
width: 50%;
    
height: 78px;
    
margin-bottom: 10px;
    
line-height: 40px;
    
background: url(../images/jy.png) no-repeat center center;
    
background-size: auto 100%;
}
.index_content .list_type1 li .val{
    
font-size: 36px;
    
font-family: UniDream-LED;
    
color: #CFF5FC;
    
line-height: 1;
    
padding-top: 9px;
}
.index_content .list_type1 li .title{
    
font-size: 16px;
    
font-family: Microsoft YaHei;
    
font-weight: bold;
    
color: #90C8DC;
    
line-height: 32px;
}
.index_content .charts1{
    
height: 100%;
}
.index_content .charts2{
    
}
.index_content .charts3{
    
}
@font-face {
  font-family: UniDream-LED;
  src: url("../fonts/UnidreamLED.ttf");
  font-weight: bold;
}
.index_content .center{
float: left;
width: calc(100% - 798px);
height: 100%;
padding: 0px 26px;
}
.index_content .block_4.baseitem{
    background: none;
    background: url(../images/bj1.png) no-repeat center center;
    background-size: 100% 100%;
    height: calc((100% - 60px)/1.456);
}
.index_content .block_4.baseitem .title_model{
}
.index_content .block_4.baseitem .content_model{border-top:none;/* height: 607px; *//* height: 56.5vh; */}

v
.index_content .block_5.baseitem{
    background: url(../images/bg2.png) no-repeat center 0;
    background-size: 100% 100%;
}

.echart_content{height: 100%;overflow-x: hidden;}
.echart_content canvas{
    width: 100% !important;
    height: 100% !important;
}
.index_content .baseitem.block_3{
    
}
.index_content .baseitem.block_3 .charts2{
    position: relative;
    height: 100%;
}
.index_content .baseitem.block_3 .time{
    
font-size: 16px;
    
font-family: Helvetica;
    
font-weight: bold;
    
color: #90C8DC;
    
position: absolute;
    
left: 10px;
    
top: 11px;
}
.index_content .baseitem.block_3 .timeline{
    position: absolute;
    width: 317px;
    height: 32px;
    background: url(../images/line.png) no-repeat center center;
    left: 45px;
    bottom: 10px;
    background-size: 100%;
}
.block_5 .content_model{
    padding: 10px 20px 0px;
    overflow: hidden;
}
.tableitem table{
    min-width: calc(100vw - 930px);
}
.tableitem{
    
}
.mCSB_container{

margin-bottom: 0 !important;
}
.tableitem th{
    
font-size: 16px;
    
font-family: Microsoft YaHei;
    
font-weight: bold;
    
color: #90C8DC;
    
text-align: center;
    
height: 42px;
    
background: rgba(15, 168, 218, .4);
}
.tableitem td{
    height: 42px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #90C8DC;
    text-align: center;
    background: rgba(15, 168, 218, .2);
}
.tableitem tr:nth-child(3) td,
.tableitem tr:nth-child(5) td{
background: rgba(15, 168, 218, .1);
}

.pagesize{
    padding-top: 4px;
    text-align: right;
    font-size: 0px;
}
.pagesize *{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 34px;
    height: 34px;
}
.pagesize a{
width: 84px;
background:rgba(15, 168, 218, 0.1);
margin-left: 1px;
text-align: center;
font-size: 14px;
font-family: Microsoft YaHei;
font-weight: bold;
color: #90C8DC;
}
.pagesize a.current,
.pagesize a:hover{
   background: rgba(15, 168, 218, .4) 
}
.pagesize .s1{
    
font-size: 14px;
font-family: Microsoft YaHei;
font-weight: bold;
color: #90C8DC;
padding: 0px 10px;
}
.pagesize .s2{
    
font-size: 14px;
font-family: Microsoft YaHei;
font-weight: bold;
color: #90C8DC;
margin-left: 47px;
}
.pagesize input{
width: 48px;
height: 34px;
border: 1px solid rgba(15, 168, 218, .8);
margin-right: 14px; 
text-align: center;
background: none;
color: #fff
}
.pagesize button{
    border: none;
    cursor: pointer;
    width: 48px;
height: 34px;
background: rgba(15, 168, 218, .4);

font-size: 14px;
font-family: Microsoft YaHei;
font-weight: bold;
color: #90C8DC;
}


.weather{
    padding-top: 13px;
    padding-right: 17px;
    padding-left: 24px;
}
.weather .title{
    height: 50px;
    background: url(../images/tis.png) no-repeat center center;
    line-height: 50px;
    overflow: hidden;
}
.weather .city{
        padding-right: 40px;
        background: url(../images/qing.png) no-repeat 61px center;
        font-size: 16px;
        font-family: Microsoft YaHei;
        font-weight: bold;
        color: #90C8DC;
        float: left;
        width: 122px;
        padding-top: 2px;
        padding-left: 15px;
        height: 50px;
}
.weather .val{
    float: left;
    width: 133px;
    padding-top: 5px;
}
.weather .val strong b{

font-size: 14px;
font-family: Microsoft YaHei;
font-weight: bold;
color: #90C8DC;
}
.weather .val strong{
    font-size: 24px;
    font-family: UniDream-LED;
    color: #CFF5FC;
    line-height: 1;
    display: inline-block;
    vertical-align: unset;
}
.weather .val span{
    
font-size: 14px;
    
font-family: Microsoft YaHei;
    
font-weight: bold;
    
color: #90C8DC;
    
padding-left: 4px;
    
vertical-align: bottom;
    
display: inline-block;
}
.weather .cloud{
    float: left;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #90C8DC;
    padding-top: 4px;
}
.weather .list_type_2{
    
margin-top: 10px;
}
.weather .list_type_2 td:nth-child(4) b{
    font-size:14px;
}
.weather .list_type_2 td:nth-child(4){
    
font-size: 18px;
    
font-family: UniDream-LED;
    
font-weight: bold;
    
color: #90C8DC;
}

.weather .list_type_2 td:nth-child(3){
    width: 65px;
}
.weather .list_type_2 td:nth-child(2){
    
width: 67px;
}
.weather .list_type_2 td:nth-child(2) img{
    width:24px;
}
.weather .list_type_2 td:nth-child(1){
    padding-left:14px;
    width: 123px;
}
.weather .list_type_2 td{
    
height: 42px;
    
background: rgba(15, 168, 218, .1);
    
font-size: 14px;
    
font-family: Microsoft YaHei;
    
font-weight: bold;
    
color: #90C8DC;
}
.weather .list_type_2 tr td:last-child{
    
}

.weather .list_type_2 tr:nth-child(2n) td{
    background:none;
}

.map_content{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}
.map_content .top{
    position: absolute;
    z-index: 888;
    width: 100%;
    top: 0px;
    height: 53px;
    left: 0px;
    background: rgba(43, 46, 57, .6);
    z-index: 6;
}
.map_content .top .logo{
    float: left;
    width: 304px;
    height: 62px;
    line-height: 62px;
    padding-left: 67px;
    
font-size: 24px;
font-family: Microsoft YaHei;
font-weight: 400;
color: #FFFFFF;
    background: url(../images/logo.png) no-repeat center center;
}
.map_content .top .logo a{
color: #FFFFFF;
}
.map_content .top .menu1{
    float: left;
    padding-left: 40px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 53px;
    background: url(../images/conr.png) no-repeat 10px center;
}
.map_content .top .right{
    float: right;
}
.map_content .top .controls{
    float: left;
    padding-top: 7px;
}
.map_content .top .controls a{
    margin-left: 12px;
    float: left;
    width: 38px;
    height: 38px;
    background-color: rgba(17, 17, 17, .5) !important;
    border-radius: 4px;
}
.map_content .top .controls .btn1{
    
/*background: url(../images/con1.png) no-repeat center center;*/
}
.map_content .top .controls .btn2{
/*background: url(../images/con2.png) no-repeat center center;*/
    
}
.map_content .top .controls .btn3{
    
/*background: url(../images/con3.png) no-repeat center center;*/
}
.map_content .top .controls .btn4{
background: url(../images/con4.png) no-repeat center center;
    
}
.map_content .top .user{
    float: left;
    padding-top: 7px;
    margin-left: 50px;
    margin-right: 26px;
}
.map_content .top .user img{
    
width: 39px;
    
height: 39px;
    
border-radius: 50%;
}
.map_content .top .user span{
    
line-height: 39px;
    
font-size: 16px;
    
font-family: Microsoft YaHei;
    
font-weight: 400;
    
color: #FFFFFF;
    
padding-left: 12px;
    
vertical-align: middle;
}
.map_content .top .user .s1{
    background: url(../images/io4.png) no-repeat 17px center;
}
.map_content .side{
    position: absolute;
    left: 0px;
    top: 61px;
    bottom: 0px;
width: 53px;
    padding: 0px 2px;
    background: #146788;
}
.map_content .side {

z-index: 12;
}
.map_content .side  li:hover,
.map_content .side  li.current{

background: #0B394B;
}
.map_content .side  li{
    text-align: center;
}
.map_content .side  li .h2tit{
    
}
.map_content .side  li .h2tit a{
    display: block;
    height: 42px;
}
.map_content .side  li.icon1 .h2tit a{
    background: url(../images/izc1.png) no-repeat center center;
}
.map_content .side  li.icon2 .h2tit a{
    background: url(../images/izc2.png) no-repeat center center;
}
.map_content .side  li.icon3 .h2tit a{
    background: url(../images/izc3.png) no-repeat center center;
}
.map_content .side  li.icon4 .h2tit a{
    background: url(../images/izc4.png) no-repeat center center;
}
.map_content .side  li.icon5 .h2tit a{
    background: url(../images/izc5.png) no-repeat center center;
}
.map_content .side  li.icon6 .h2tit a{
    background: url(../images/izc6.png) no-repeat center center;
}
.map_content .side  li.icon7 .h2tit a{
    background: url(../images/izc7.png) no-repeat center center;
}
.map_content .side  li.icon8 .h2tit a{
    background: url(../images/izc8.png) no-repeat center center;
}
.map_content .side  li.icon9 .h2tit a{
    background: url(../images/izc9.png) no-repeat center center;
}
.map_content .side  li.icon10 .h2tit a{
    background: url(../images/izc10.png) no-repeat center center;
}
.map_content .side  li.icon11 .h2tit a{
    background: url(../images/izc11.png) no-repeat center center;
}
.map_content .side  li.icon12 .h2tit a{
    background: url(../images/izc12.png) no-repeat center center;
}
.map_content .side_sec{position: absolute;top: 0px;left: 57px;bottom: 0;/* overflow: auto; */top: 61px;z-index: 7;}
.map_content .side_sec .main_content{

border: 4px solid #125677;

height: 100%;
}
.map_content .side_sec .main_content .title{

height: 42px;

background: #146788;

line-height: 42px;

font-size: 16px;

font-family: Microsoft YaHei;

font-weight: 400;

color: #FFFFFF;

padding-left: 18px;
}
.map_content .side_sec .main_content .content{

background: rgba(255, 255, 255, 0.84);

border-radius: 4px;

height: calc(100% - 40px);

overflow: hidden;

/*margin-top: 2px;*/
}


.map_content .side_sec .main_content .title2{

font-size: 14px;

font-family: Microsoft YaHei;

font-weight: 400;

color: #333333;

padding-left: 17px;

line-height: 43px;
}
.map_content .side_sec .main_content .btngroup{

padding-left: 17px;

padding-bottom: 4px;
}
.map_content .side_sec .main_content .btngroup *{

width: 84px;

height: 38px;

background: #146788;

border-radius: 2px;

cursor: pointer;

border: none;

margin-right: 25px;

font-size: 14px;

font-family: Microsoft YaHei;

font-weight: 400;

color: #FFFFFF;
}
.map_content .side_sec .main_content .radios{

}
.map_content .side_sec .main_content .selectgroup{

padding: 0px 17px;

padding-right: 21px;
}
.map_content .side_sec .main_content .selectgroup *{

height: 38px;

border: 1px solid #C8C8C8;

border-radius: 2px;

width: 100%;

margin-bottom: 20px;

font-size: 14px;

font-family: Microsoft YaHei;

font-weight: 400;

color: #666666;

padding: 0px 10px;
}
.map_content .side_sec .main_content .tear{

text-align: right;

padding-right: 21px;

margin-top: -7px;
}
.map_content .side_sec .main_content .tear .search{

width: 68px;

height: 38px;

background: #146788;

border-radius: 2px;

border: none;

font-size: 14px;

font-family: Microsoft YaHei;

font-weight: 400;

color: #FFFFFF;

cursor: pointer;
}

.map_content .side_sec .main_content table{zoom: 1;overflow: hidden;border-top: 1px solid #949595;border-left: 1px solid #949595;}
.map_content .side_sec .main_content .thead{zoom: 1;overflow: hidden;border-top: 1px solid #949595;border-left: 1px solid #949595;margin-top: 13px;}
.map_content .side_sec .main_content .thead .fl{float: left;line-height: 26px;background: #c7c7c7;border-right: 1px solid #949595;border-bottom: 1px solid #949595;height: 26px;text-align: center;}
.map_content .side_sec .main_content .thead .w1{

width: 26px;
}
.map_content .side_sec .main_content .thead .w2{

width: 39px;
}
.map_content .side_sec .main_content .thead .w3{

width: 99px;
}
.map_content .side_sec .main_content .thead .w4{

width: 68px;
}
.map_content .side_sec .main_content .thead .w5{
    
width: 68px;
}
.map_content .side_sec .main_content .tablecontent{

overflow: auto;

/*height: calc(100% - 534px);*/
height: calc(100% - 100px);
}


/***********************************************/

.map_content .right_content .table_main td .type1{

}
.map_content .right_content .table_main td .type2{

    color: #fff;

    background: #268089;

    border-color: #268089;
}
.map_content .right_content .table_main td .type3{

    color: #fff;

    border-color: #e13f40;

    background: #e13f40;
}


/***********************************************/

/*
.map_content .side_sec .main_content .tablecontent table{

}
.map_content .side_sec .main_content .tablecontent table th{

}
.map_content .side_sec .main_content .tablecontent table td{

line-height: 26px;

border-right: 1px solid #999;

border-bottom: 1px solid #999;

overflow: hidden;

text-overflow: ellipsis;

white-space: nowrap;
}*/

.pagesize2{
    
text-align: center;
    
zoom: 1;
    
overflow: hidden;
    
position: relative;
}
.pagesize2 a{
    width:26px;
    height:26px;
    border: 2px solid #ddd;
    background-size: 60% !important;
    border-radius: 3px;
}
.pagesize2 .prev0{
    
float: left;
    
background: url(../images/leftall.png) no-repeat center center;
    
margin-left: 10px;
}
.pagesize2 .prev{
        float:left;
        background: url(../images/left.png) no-repeat center center;
        margin-left: 5px;
}
.pagesize2 .center{
    
position: absolute;
    
top: 50%;
    
left: 50%;
    
-o-transform: translate(-50%, -50%);
    
-webkit-transform: translate(-50%, -50%);
    
-moz-transform: translate(-50%, -50%);
    
-ms-transform: translate(-50%, -50%);
    
transform: translate(-50%, -50%);
    
line-height: 25px;
}
.pagesize2 .center input{
    
display: inline-block;
    
vertical-align: top;
    
width: 26px;
    
margin: 0px 7px;
    
height: 25px;
    
border: 1px solid #ccc;
}
.pagesize2 .next0{
        float:right;
        background: url(../images/rightall.png) no-repeat center center;
        margin-right: 10px;
}
.pagesize2 .next{
    float:right;
    background: url(../images/right.png) no-repeat center center;
    margin-right: 5px;
}
.map_content .side_sec .controls{

position: absolute;

left: 309px;

top: 0px;

z-index: 6;
}

.map_content .side_sec .controls .switch{

width: 34px;

height: 46px;

background: url(../images/izc1.png) no-repeat center center rgba(18, 86, 119, .8);

border-radius: 0px 8px 8px 0px;

display: block;

margin-bottom: 4px;
}
.map_content .side_sec .controls .btns{

}
.map_content .side_sec .controls .btns a{

display: block;

width: 46px;

text-align: center;

height: 129px;

font-size: 16px;

font-family: Microsoft YaHei;

font-weight: 400;

color: #FFFFFF;

background: url(../images/1.png) no-repeat center center;

padding-top: 41px;

margin-top: -9px;

margin-left: -6px;

position: relative;

z-index: 4;
}

.map_content .side_sec .main_content .tablecontent table td:nth-child(1){
    text-align: right;
    padding-right: 4px;
}
.map_content .side_sec .main_content .tablecontent table td:nth-child(2){
    /*padding-left: 32px;*/
    /*background: url(../images/mz.png) no-repeat 11px center;*/
}

.map_content .side_sec .controls .btns a:nth-child(2){

background: url(../images/2.png) no-repeat center center;

margin-top: -24px;
}
.map_content .side_sec .controls .btns a:nth-child(3){

margin-top: -16px;
}
.map_content .mapmain{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    /*background: url(../images/map.jpg) no-repeat center center;*/
    background: #ffffff no-repeat center center;
    background-size: cover;
    z-index: 2;
}

/*新增双页*/
.map_content .mapmain_left{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 50%;
    height: 100%;
    /*background: url(../images/map.jpg) no-repeat center center;*/
    background: #ffffff no-repeat center center;
    background-size: cover;
    z-index: 2;
}
.map_content .mapmain_right{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 50%;
    height: 100%;
    /*background: url(../images/map.jpg) no-repeat center center;*/
    background: #ffffff no-repeat center center;
    background-size: cover;
    z-index: 2;
}
/*********/
.map_content .side_sec{

-webkit-transition:all 0.4s;
-o-transition:all 0.4s;
-moz-transition:all 0.4s;
-ms-transition:all 0.4s;
transition:all 0.4s;


}
.map_content .side_sec.current{
left: -400px;
}
.map_content .side_sec.type2 .main_content .title{
    height: 54px;
    line-height: 54px;
}
.map_content .side_sec .main_content .title select{
    
float: right;
    
margin-top: 8px;
    
margin-right: 14px;
    
width: 136px;
    
height: 38px;
    
background: #FFFFFF;
    
border-radius: 2px;
    
font-size: 14px;
    
font-family: Microsoft YaHei;
    
font-weight: 400;
    
color: #999999;
    
padding: 0px 8px;
}
.map_content .side_sec.type2{
    bottom: 347px;
    width: 363px;
}

.map_content .side_sec.type2 .main_content .thead{
    margin-top: 0px;
}
.map_content .side_sec.type2 .main_content .tablecontent {
    overflow: auto;
    height: calc(100% - 57px);
}
.mapmain .controls1{
height: 40px;
background: rgba(43, 45, 57, 0.6);
border-radius: 4px;
position: absolute;
line-height: 40px;
right: 8px;
top: 72px;
}

.mapmain .controls1 *:last-child:after{
    display: none;
}
.mapmain .controls1 *:after{
    content: "";
    position: absolute;
    right: 0px;
    width: 1px;
height: 16px;
background: #FFFFFF;
opacity: 0.4;
top: 10px;
}
.mapmain .controls1 *{
    display: inline-block;
    vertical-align: middle;
font-size: 14px;
font-family: Microsoft YaHei;
font-weight: 400;
color: #FFFFFF;
position: relative;
width: 123px;
padding-left: 43px;
}
.mapmain .controls1 .s1{
    background: url(../images/io1.png) no-repeat 24px center;
}
.mapmain .controls1 .s2{
    background: url(../images/io2.png) no-repeat 17px center;
}
.mapmain .controls1 .s3{
    background: url(../images/io3.png) no-repeat 21px center;
}
.mapmain .controls1 .s4{
    background: url(../images/io4.png) no-repeat 17px center;
}
.mapmain .leftbottomwrap{
    position: absolute;
    width: 358px;
    height: 317px;
    border-radius: 4px;
    left: 60px;
    bottom: 11px;
    background: #ccc;
}
.mapmain .leftbottomwrap2{
    height: 80px;
    width: 400px;
    background: rgba(43, 45, 57, 0.6);
    border-radius: 4px;
    position: absolute;
    line-height: 40px;
    right: 8px;
    top: 72px;
}
.map_content .side_sec.type2 .controls{
    left: 362px;
}
.mapmain .rightbottomwrap{
    position: absolute;
    right: 9px;
    bottom: 6px;
    width: 365px;
    -webkit-transition: all 0.4s;
    -o-transition:all 0.4s;
    -moz-transition:all 0.4s;
    -ms-transition:all 0.4s;
    transition:all 0.4s;
}
.mapmain .rightbottomwrap .block_1{
background: rgba(36, 36, 36, 0.6);
border: 2px solid #136787;
}
.mapmain .rightbottomwrap .title{
    width: 228px;
height: 34px;
line-height: 34px;
background: url(../images/jg.png) no-repeat left center;
}
.mapmain .rightbottomwrap .title img{
    margin-left: 8px;
    margin-right: 5px;
}
.mapmain .rightbottomwrap .title span{
    
font-size: 18px;
font-family: Microsoft YaHei;
font-weight: bold;
color: #93D7DA;
display: inline-block;
vertical-align: middle;
}
.mapmain .rightbottomwrap .charts{
    height: 242px;
}
.mapmain .rightbottomwrap .block_2{
    
margin-top: 6px;
}
/**************************************************/
/*.mapmain .rightbottomwrap .block_2 .left button{

float: left;

border: none;

background: none;

line-height: 40px;

font-size: 13px;

font-family: Microsoft YaHei;

font-weight: bold;

color: #8FC7DB;

vertical-align: middle;

width: 33%;

cursor: pointer;
}
.mapmain .rightbottomwrap .block_2 .left button img{

}
.mapmain .rightbottomwrap .block_2 .left button span{

padding-left: 4px;

vertical-align: middle;
}*/
/*新增*/

/*复选框样式*/
.mapmain .rightbottomwrap .block_2 .left{
    
float: left;
    
width: 297px;
    
height: 40px;
    
background: rgba(43, 45, 57, .6);
    
border-radius: 4px;
}

.mapmain .rightbottomwrap .block_2 .left div{

    float: left;

    border: none;

    background: none;

    line-height: 40px;

    font-size: 13px;

    font-family: Microsoft YaHei;

    font-weight: bold;

    color: #8FC7DB;

    vertical-align: middle;

    width: 33%;

    cursor: pointer;
}
.mapmain .rightbottomwrap .block_2 .left div input{
    display: none
}

.mapmain .rightbottomwrap .block_2 .left div label{
    /*未选中状态*/
    background: url(../images/icmap_grey.png) no-repeat 6px center;
    line-height: 40px;
    display: block;
}
/*坝的类型*/
.mapmain .rightbottomwrap .block_2 .left  .damSort1 input[type=checkbox]:checked+label {
    /*选中状态*/
    background: url(../images/icmap1.png) no-repeat 6px center;
}
.mapmain .rightbottomwrap .block_2 .left  .damSort2 input[type=checkbox]:checked+label {
    /*选中状态*/
    background: url(../images/icmap2.png) no-repeat 6px center;
}
.mapmain .rightbottomwrap .block_2 .left  .damSort3 input[type=checkbox]:checked+label {
    /*选中状态*/
    background: url(../images/icmap3.png) no-repeat 6px center;
}

/*风险等级*/
.mapmain .rightbottomwrap .block_2 .left  .y1 input[type=checkbox]:checked+label {
    /*选中状态*/
    background: url(../images/y1.png) no-repeat 6px center;
}
.mapmain .rightbottomwrap .block_2 .left  .y2 input[type=checkbox]:checked+label {
    /*选中状态*/
    background: url(../images/y2.png) no-repeat 6px center;
}
.mapmain .rightbottomwrap .block_2 .left  .y3 input[type=checkbox]:checked+label {
    /*选中状态*/
    background: url(../images/y3.png) no-repeat 6px center;
}
.mapmain .rightbottomwrap .block_2 .left  .y4 input[type=checkbox]:checked+label {
    /*选中状态*/
    background: url(../images/y4.png) no-repeat 6px center;
}

.mapmain .rightbottomwrap .block_2 .left div img{

}
.mapmain .rightbottomwrap .block_2 .left div span{

    padding-left: 4px;
    margin-left: 25px;
    vertical-align: middle;
}
/******************/

/*复选框样式*/
.mapmain .rightbottomwrap .block_2 .left1 {

    float: left;

    width: 297px;

    height: 40px;

    background: rgba(43, 45, 57, .6);

    border-radius: 4px;
}

.mapmain .rightbottomwrap .block_2 .left1  div{

    float: left;

    border: none;

    background: none;

    line-height: 40px;

    font-size: 13px;

    font-family: Microsoft YaHei;

    font-weight: bold;

    color: #8FC7DB;

    vertical-align: middle;

    width: 25%;

    cursor: pointer;
}
.mapmain .rightbottomwrap .block_2 .left1  div input{
    display: none
}

.mapmain .rightbottomwrap .block_2 .left1  div label{
    /*未选中状态*/
    background: url(../images/y5_grey.png) no-repeat 6px center;
    line-height: 40px;
    display: block;
}

/*风险等级*/
.mapmain .rightbottomwrap .block_2 .left1  .y1 input[type=checkbox]:checked+label {
    /*选中状态*/
    background: url(../images/y1.png) no-repeat 6px center;
}
.mapmain .rightbottomwrap .block_2 .left1  .y2 input[type=checkbox]:checked+label {
    /*选中状态*/
    background: url(../images/y2.png) no-repeat 6px center;
}
.mapmain .rightbottomwrap .block_2 .left1  .y3 input[type=checkbox]:checked+label {
    /*选中状态*/
    background: url(../images/y3.png) no-repeat 6px center;
}
.mapmain .rightbottomwrap .block_2 .left1  .y4 input[type=checkbox]:checked+label {
    /*选中状态*/
    background: url(../images/y4.png) no-repeat 6px center;
}

.mapmain .rightbottomwrap .block_2 .left1  div img{

}
.mapmain .rightbottomwrap .block_2 .left1  div span{

    padding-left: 4px;
    margin-left: 25px;
    vertical-align: middle;
}

/*******************************************/
.mapmain .rightbottomwrap .block_2 .more{
    
float: right;
    
width: 60px;
    
height: 42px;
    
background: url(../images/more.png) no-repeat 7px center rgba(43, 45, 57, .6);
    
border-radius: 4px;
    
font-size: 16px;
    
font-family: Microsoft YaHei;
    
font-weight: 400;
    
color: #FFFFFF;
    
padding-left: 20px;
    
text-align: left;
    
border: none;
    
cursor: pointer;
}

.map_content .side_sec.type2 .main_content .thead .w3{
    
width: 110px;
}
.map_content .side_sec.type2 .main_content .thead .w4{
    
width: 97px;
}
.map_content .side_sec.type2 .main_content .thead .w5{
    
width: 82px;
}
.map_content .top .menu1.icon2{
    background: url(../images/izc2.png) no-repeat 10px  center
}
.map_content .top .menu1.icon3{
    background: url(../images/izc3.png) no-repeat 10px  center
}
.map_content .top .menu1.icon4{
    background: url(../images/izc4.png) no-repeat 10px  center
}
.map_content .top .menu1.icon5{
    background: url(../images/izc5.png) no-repeat 10px  center
}
.map_content .top .menu1.icon6{
    background: url(../images/izc6.png) no-repeat 10px  center
}
.map_content .top .menu1.icon7{
    background: url(../images/izc7.png) no-repeat 10px  center
}
.map_content .top .menu1.icon8{
    background: url(../images/izc8.png) no-repeat 10px  center
}
.map_content .top .menu1.icon9{
    background: url(../images/izc9.png) no-repeat 10px  center
}
.map_content .top .menu1.icon10{
    background: url(../images/izc10.png) no-repeat 10px  center
}
.map_content .top .menu1.icon11{
    background: url(../images/izc11.png) no-repeat 10px  center
}
.map_content .top .menu1.icon12{
    background: url(../images/izc12.png) no-repeat 10px  center
}
.map_content .side_sec.type3{
    
width: 363px;
}
.map_content .side_sec .charts1{
    
}
.map_content .side_sec .imgbox{
    
padding: 10px 0px;
    
text-align: center;
}
.map_content .side_sec .imgbox img{
    
}
.map_content .side_sec .main_content .table1{
    text-align: center;
    width: 342px;
    border: 1px solid #B6B6B6;
    margin-top: 4px;
    margin-left:8px;
    margin-bottom: 10px;
}
.map_content .side_sec .main_content .table1 td{
    
font-size: 14px;
height: 41px;
background: rgba(235, 235, 235, 1);
font-family: Microsoft YaHei;
font-weight: 400;
color: #333333;
}
.map_content .side_sec .main_content .table1 td:nth-child(1){
    border-right: 1px solid rgba(182, 182, 182, 1)
}
.map_content .side_sec .main_content .table1 tr:nth-child(2n) td{
    background: none;
}

.map_content .side_sec.type3 .controls{
left:363px;}


.map_content .side_sec.type3 .main_content .content{
    overflow-y:scroll;
}

.mapmain .rightbottomwrap.type2 .block_2 .left button{
    width: 25%;
}
button:focus{
    outline: none
}

.map_content .mapmain .bottom_table{
    position: absolute;
    left: 57px;
    background: #fff;
    border: 4px solid #136787;
    right: 10px;
    bottom: 7px;
    bottom: -330px;
}
.map_content .mapmain .bottom_table .switch:after{
    content:"";
    background:url(../images/up.png) no-repeat center center;
    width:100%;
    height:100%;
    position:absolute;
}
.map_content .mapmain .bottom_table .switch.current:after{

    background:url(../images/down.png) no-repeat center center;

}
.map_content .mapmain .bottom_table .switch{

    width: 77px;

    height: 22px;

    background: url(../images/switch0.png) no-repeat center center;

    position: absolute;

    top: -21px;

    left: 50%;

    -o-transform: translate(-50%, 0%);

    -webkit-transform: translate(-50%, 0%);

    -moz-transform: translate(-50%, 0%);

    -ms-transform: translate(-50%, 0%);

    transform: translate(-50%, 0%);

    cursor: pointer;
}
.map_content .mapmain .bottom_table .sec_1{
    
height: 54px;
    
background: #EBEBEB;
    
position: relative;
    
z-index: 5;

}


.map_content .mapmain .bottom_table .sec_1 .words{
    
width: 188px;
    
height: 38px;
    
background: #FFFFFF;
    
border-radius: 2px;
    
float: left;
    
margin-left: 15px;
    
margin-top: 7px;
    
padding: 0px 12px;
    
border: none;
}
.map_content .mapmain .bottom_table .sec_1 .send{
    
width: 68px;
    
height: 38px;
    
background: #136787;
    
border-radius: 2px;
    
float: left;
    
margin-top: 7px;
    
margin-left: 22px;
    
border: none;
    
font-size: 14px;
    
font-family: Microsoft YaHei;
    
font-weight: 400;
    
color: #FFFFFF;
}
.map_content .mapmain .bottom_table .sec_1 .coms{
    
width: 86px;
    
height: 38px;
    
background: #136787;
    
border-radius: 2px;
    
float: right;
    
margin-top: 7px;
    
margin-right: 14px;
    
border: none;
    
font-size: 14px;
    
font-family: Microsoft YaHei;
    
font-weight: 400;
    
color: #FFFFFF;
}
.map_content .mapmain .bottom_table .sec_2{
border-top: 2px solid #e0e0e0;
height: 236px;
overflow: auto;
}
.map_content .mapmain .bottom_table .sec_2 table{
    
}
.map_content .mapmain .bottom_table .sec_2 table tr:hover td{
    background:#efefef
}
.map_content .mapmain .bottom_table .sec_2 table tr:nth-child(1) td{
    background:#efefef
}
.map_content .mapmain .bottom_table .sec_2 table tr:nth-child(2) td{
  background:#efefef
}
.map_content .mapmain .bottom_table .sec_2 table td{
    
height: 39px;
    
text-align: center;
    
border-right: 2px solid #e0e0e0;
    
border-bottom: 2px solid #e0e0e0;
}
button{
    cursor: pointer;
}


.pagesize3{
    text-align: right;
height: 36px;
/*    height:2px;*/
box-shadow: 0px 4px 20px 0px rgba(81, 109, 189, 0.32);
}
.pagesize3 *{
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
}
.pagesize3 a{
    
width: 40px;
    
text-align: center;
    
border-radius: 3px;
    
color: #000;
}
.pagesize3 a.prev{
    
}
.pagesize3 a.next{
    
}
.pagesize3 a.current{
    
}
.pagesize3 b{
    
color: #888;
    
font-weight: normal;
}
.pagesize3 span{
    
margin-right: 10px;
}
.pagesize3 .words{
    
width: 40px;
    
text-align: center;
    
margin: 0px 10px;
    
margin-top: 3px;
}
.pagesize3 .send{
    
border: none;
    
background: none;
    
cursor: pointer;
    
border: 1px solid #ccc;
    
padding: 0px 13px;
    
margin: 0px 10px;
    
margin-top: 3px;
}
.pagesize3 select{
    
margin-right: 10px;
}
.map_content .mapmain .bottom_table{
    
-webkit-transition:all 0.4s;
-o-transition:all 0.4s;
-moz-transition:all 0.4s;
-ms-transition:all 0.4s;
transition:all 0.4s;


}
.map_content .mapmain.current .bottom_table{
    bottom: 7px;
}
.map_content .mapmain.current .rightbottomwrap{
    
bottom: 344px;
}

.map_content .mapmain.current .rightbottomwrap .block_1{
    display: none;
}

.alertmodal{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 77777;
    background: rgba(17, 17, 17, .37)
}
.alertmodal .content{position:absolute;top: 50%;left: 50%;-o-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 1245px;background: #FFFFFF;border-radius: 4px;overflow: hidden;}
.alertmodal .content .tab{
    
}
.alertmodal .content .tab .hd{
    
line-height: 42px;
    
height: 42px;
    
background: #EFEFEF;
}
.alertmodal .content .tab .hd a{
    
float: left;
    
margin-right: 2px;
    
width: 106px;
    
height: 41px;
    
/*background: #146788;*/
background: #0B394B;
border-radius: 4px 4px 0px 0px;
    
text-align: center;
    
line-height: 41px;
    
font-size: 16px;
    
font-family: Microsoft YaHei;
    
font-weight: bold;
    
color: #FFFFFF;
    
border-radius: 4px 4px 0px 0px;
}
.alertmodal .content .tab .hd a.current{
    
/*background: #0B394B;*/
    background: #1596b8;

}
.alertmodal .content .tab .bd{
    
zoom: 1;
    
padding: 0px 14px;
    
/*overflow: hidden;*/
    overflow-y: auto;
    max-height: 900px;
}
.alertmodal .content .tab .bd .item{
    
float: left;
    
width: 49%;
}
.alertmodal .content .tab .bd .h2tit{
    
font-family: Microsoft YaHei;
    
font-weight: 400;
    
color: #333333;
    
line-height: 50px;
}
.alertmodal .content .tab .bd .h2tit em{
    
font-style: normal;
    
display: inline-block;
    
width: 53px;
    
height: 24px;
    
background: #F46D23;
    
border: 1px solid #F46D23;
    
border-radius: 2px;
    
text-align: center;
    
line-height: 24px;
    
font-size: 12px;
    
color: #fff;
    
position: relative;
    
top: -3px;
    
line-height: 20px;
}
.alertmodal .content .tab .bd .tablewrap{
    
}
.alertmodal .content .tab .bd .tablewrap table{
    
border-left: 1px solid #e0e0e0;
    
border-top: 1px solid #e0e0e0;
}
.alertmodal .content .tab .bd .tablewrap th{
    
height: 40px;
    
background: #efefef;
    
border-right: 1px solid #e0e0e0;
    
border-bottom: 1px solid #e0e0e0;
}
.alertmodal .content .tab .bd .tablewrap td{
    
font-size: 14px;
    
font-family: Helvetica;
    
font-weight: 400;
    
color: #666666;
    
border-right: 1px solid #e0e0e0;
    
border-bottom: 1px solid #e0e0e0;
    
text-align: center;
    
height: 38px;
}

.alertmodal .content .tab .bd .item:nth-child(2n){
    float:right;
}
.alertmodal .content .close{
    
position: absolute;
    
height: 42px;
    
width: 42px;
    
background: url(../images/close.png) no-repeat center center;
    
cursor: pointer;
    
right: 0;
    
top: 0;
}

.alertmodal .content .tab .bd .tablewrap tr td:nth-child(1),
.alertmodal .content .tab .bd .tablewrap tr th:nth-child(1){
text-align: left;
padding-left: 20px;
}
.alertmodal .content .tab .bd .type2 .tablewrap th{
    
}
.alertmodal .content .tab .bd .type2 .tablewrap td{
    background: rgba(20, 103, 136, .1);
    height: 38px;
    border: none;
    border-bottom: 1px solid #fff
}
.alertmodal .content .tab .bd .type2 .tablewrap td:nth-child(1){
    border-left: 4px solid rgba(20, 103, 136, 1);

border-radius: 2px 0px 0px 2px;
}

.alertmodal .content .tab .bd .type1 .tablewrap td{

height: 46px;
}
.alertmodal .content .btngroup{
    text-align: center;
    padding-top: 17px;
    padding-bottom: 14px;
} 
.alertmodal .content .btngroup button{
    width: 86px;
height: 38px;
background: #146788;
border-radius: 2px;
border: none;
cursor: pointer;
font-size: 14px;
font-family: Microsoft YaHei;
font-weight: 400;
color: #FFFFFF;
} 
.alertmodal {
    /*max-height: 500px;*/
    display: none;
    /*overflow: auto;*/
}
.echart_content2{
    display: block;
    height: 250px;
    width: 80%;
    margin: auto;
}
#main0.echart_content2{}
.alertmodal .content .tab .bd .h2tit em.cl{
    background: rgba(244, 35, 55, 1)
}
.map_content .top .menu1.icon4 {
    background: url(../images/izc11.png) no-repeat 10px center;
}
.map_content .top .menu1{
    position: relative;
}

.map_content .top .menu1.icon4:after{
    content: "";
    position: absolute;
    right: -30px;
    top: -8px;
    height: 65px;
    border: 1px solid #146788;
    transform: rotate(27deg);
}

.map_content .side_sec .main_content .menu2 {

}
.map_content .side_sec .main_content .menu2 a{height: 54px;background: #146788;display: block;line-height: 54px;padding-left: 6px;font-size: 16px;font-family: Microsoft YaHei;font-weight: 400;color: #FFFFFF;margin-bottom: 1px;}
.map_content .side_sec .main_content .menu2 a:hover,
.map_content .side_sec .main_content .menu2 a.current{
background: rgba(11, 57, 75, 1)
}
.map_content .side_sec.type4 .main_content .content{
    border-radius: 0px;
    margin-top: 0px;
    height: calc(100% - 0px);
    width: 302px;
}

.map_content{
    
}

.map_content .right_content{
    
position: absolute;
width: 100%;
height: 100%;
overflow: auto;
padding-left: 377px;
padding-top: 121px;
padding-right: 12px;
}
.map_content .right_content .border{
    border: 4px solid #125677;
}
.map_content .right_content .titlemodel{
    
font-size: 16px;
    
font-family: Microsoft YaHei;
    
font-weight: 400;
    
color: #146788;
    
line-height: 48px;
    
padding-left: 12px;
}
.map_content .right_content .controls{
    
height: 49px;
    
border: 2px solid #e0e0e0;
    
border-left: none;
    
border-right: none;
    
background: #efefef;
}
.map_content .right_content .controls .left{
    
float: left;
    
margin-left: 12px;
    
width: 150px;
    
height: 31px;
    
border: 2px solid #eaeaea;
    
margin-top: 9px;
    
position: relative;
}
.map_content .right_content .controls .words{
    
width: 100%;
    
height: 100%;
    
border: none;
    
padding: 0px 10px;
    
padding-right: 30px;
}
.map_content .right_content .controls .send{
    
cursor: pointer;
    
position: absolute;
    
right: 0px;
    
top: 0px;
    
width: 26px;
    
height: 26px;
    
border: none;
    
background: url(../images/search.png) no-repeat center center;
    
background-size: 100% 100%;
}
.map_content .right_content .controls .right{
    
float: right;
    
padding-right: 17px;
    
padding-top: 9px;
}
.map_content .right_content .controls .right *{
    
float: left;
    
margin-left: 10px;
    
width: 27px;
    
height: 27px;
    
border: none;
    
background-size: 100% 100%;
}
.map_content .right_content .controls .btn1{
    
background: url(../images/btn1.png) no-repeat center center;
}
.map_content .right_content .controls .btn2{
background: url(../images/btn2.png) no-repeat center center;
}
.map_content .right_content .controls .btn3{
background: url(../images/btn3.png) no-repeat center center;
}
.map_content .right_content .controls .btn4{
background: url(../images/btn5.png) no-repeat center center;
}
.map_content .right_content .controls .btn5{
background: url(../images/btn5.png) no-repeat center center;
}

.map_content .right_content .table_main{

    /**/
    font-size: 14px;
    line-height: 54px;
    margin-left: 13px;
    margin-right: 5px;
    /**/
}


/*xinzeng*/
.map_content .right_content .table_main .title{
    height: 54px;
    line-height: 54px;
}
.map_content .right_content .table_main .title select{

    /*float: right;*/

    margin-top: 8px;

    margin-right: 14px;

    width: 136px;

    height: 38px;

    background: #FFFFFF;

    border-radius: 2px;

    font-size: 14px;

    font-family: Microsoft YaHei;

    font-weight: 400;

    color: #999999;

    padding: 0px 8px;
}

.map_content .right_content .table_main .title button{

    /*float: right;*/

    margin-top: 8px;

    margin-right: 14px;
    width: 136px;
    height: 38px;
    background: #268089;

    border-radius: 2px;

    font-size: 14px;

    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #ffffff;
    padding: 0px 8px;
}


/********/


.map_content .right_content .table_main th{
    
height: 39px;
    
background: #efefef;
    
border-right: 2px solid #e0e0e0;
    
border-bottom: 2px solid #e0e0e0;
    
color: #777;
    
min-width: 11px;
}
.map_content .right_content .table_main td a{
    display:inline-block;
    width:41px;
    line-height:23px;
    border:1px solid #ccc;
    border-radius:4px;
    color: #000;
}
.map_content .right_content .table_main td{
    
text-align: center;
    
height: 36px;
    
border-right: 2px solid #e0e0e0;
    
border-bottom: 2px solid #e0e0e0;
    
color: #777;
}
.map_content .right_content .table_main td .type1{
    
}
.map_content .right_content .table_main td .type2{
    
color: #fff;
    
background: #268089;
    
border-color: #268089;
}
.map_content .right_content .table_main td .type3{
    
color: #fff;
    
border-color: #e13f40;
    
background: #e13f40;
}

/***********新增***********/

.map_content .right_content_all{

    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-left: 90px;
    padding-top: 90px;
    padding-right: 12px;
}
.map_content .right_content_all .border{
    border: 4px solid #125677;
}
.map_content .right_content_all .titlemodel{

    font-size: 16px;

    font-family: Microsoft YaHei;

    font-weight: 400;

    color: #146788;

    line-height: 48px;

    padding-left: 12px;
}
.map_content .right_content_all .controls{

    height: 49px;

    border: 2px solid #e0e0e0;

    border-left: none;

    border-right: none;

    background: #efefef;
}
.map_content .right_content_all .controls .left{

    float: left;

    margin-left: 12px;

    width: 150px;

    height: 31px;

    border: 2px solid #eaeaea;

    margin-top: 9px;

    position: relative;
}
.map_content .right_content_all .controls .words{

    width: 100%;

    height: 100%;

    border: none;

    padding: 0px 10px;

    padding-right: 30px;
}
.map_content .right_content_all .controls .send{

    cursor: pointer;

    position: absolute;

    right: 0px;

    top: 0px;

    width: 26px;

    height: 26px;

    border: none;

    background: url(../images/search.png) no-repeat center center;

    background-size: 100% 100%;
}
.map_content .right_content_all .controls .right{

    float: right;

    padding-right: 17px;

    padding-top: 9px;
}
.map_content .right_content_all .controls .right *{

    float: left;

    margin-left: 10px;

    width: 27px;

    height: 27px;

    border: none;

    background-size: 100% 100%;
}
.map_content .right_content_all .controls .btn1{

    background: url(../images/btn1.png) no-repeat center center;
}
.map_content .right_content_all .controls .btn2{
    background: url(../images/btn2.png) no-repeat center center;
}
.map_content .right_content_all .controls .btn3{
    background: url(../images/btn3.png) no-repeat center center;
}
.map_content .right_content_all .controls .btn4{
    background: url(../images/btn5.png) no-repeat center center;
}
.map_content .right_content_all .controls .btn5{
    background: url(../images/btn5.png) no-repeat center center;
}
.map_content .right_content_all .table_main{

}
.map_content .right_content_all .table_main th{

    height: 39px;

    background: #efefef;

    border-right: 2px solid #e0e0e0;

    border-bottom: 2px solid #e0e0e0;

    color: #777;

    min-width: 11px;
}
.map_content .right_content_all .table_main td a{
    display:inline-block;
    width:41px;
    line-height:23px;
    border:1px solid #ccc;
    border-radius:4px;
    color: #000;
}
.map_content .right_content_all .table_main td{

    text-align: center;

    height: 36px;

    border-right: 2px solid #e0e0e0;

    border-bottom: 2px solid #e0e0e0;

    color: #777;
}
.map_content .right_content_all .table_main td .type1{

}
.map_content .right_content_all .table_main td .type2{

    color: #fff;

    background: #268089;

    border-color: #268089;
}
.map_content .right_content_all .table_main td .type3{

    color: #fff;

    border-color: #e13f40;

    background: #e13f40;
}

.map_content .right_content_all{

    -webkit-transition:all 0.4s;
    -o-transition:all 0.4s;
    -moz-transition:all 0.4s;
    -ms-transition:all 0.4s;
    transition:all 0.4s;
}
.map_content .right_content_all.current{
    padding-left: 61px;
}
/***************************************/



.pagesize3 a.prev{
    background: url(../images/left.png) no-repeat center center;
    background-size: 30%;
    opacity: .5;
}
.pagesize3 a.next{
    background: url(../images/right.png) no-repeat center center;
    background-size: 30%;
    opacity: .5;
}



.radiosmodel .item input[type=radio], 
.radiosmodel .item input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 2;
}
.radiosmodel .item input[type=radio]+label, 
.radiosmodel .item input[type=checkbox]+label {
cursor:pointer;
}
.radiosmodel .item{float: left;position: relative;padding-left: 23px;margin-right: 27px;}

.radiosmodel {
    zoom: 1;
    overflow: hidden;
    padding-left: 16px;
}
.radiosmodel .item input[type=radio]+label::before, 
.radiosmodel .item input[type=radio]+label::after, 
.radiosmodel .item input[type=checkbox]+label::before, 
.radiosmodel .item input[type=checkbox]+label::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    border-radius: 30px;
}
.radiosmodel .item  input[type=radio]+label::before, 
.radiosmodel .item  input[type=checkbox]+label::before {
    border: 1px solid rgba(199, 199, 199, 1);
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.08); */
}
.radiosmodel .item  input[type=radio]+label::before, 
.radiosmodel .item  input[type=radio]+label::after {
    border-radius: 50%;
}

.radiosmodel .item input[type=radio]:checked+label::before, 
.radiosmodel .item input[type=radio]:checked+label::after, 
.radiosmodel .item input[type=checkbox]:checked+label::before, 
.radiosmodel .item input[type=checkbox]:checked+label::after {
    -webkit-animation: cd-bounce .3s;
    -moz-animation: cd-bounce .3s;
    animation: cd-bounce .3s;
    border-color: #136787;
}
.radiosmodel .item input[type=radio]+label::after, 
.radiosmodel .item input[type=checkbox]+label::after {
    background-color: rgba(19, 103, 135, 1);
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    width: 8px;
    height: 8px;
    margin-left: 4px;
    margin-top: -4px;
}

.radiosmodel .item input[type=radio]+label::after {
}
.radiosmodel .item input[type=radio]:checked+label::after, 
.radiosmodel .item input[type=checkbox]:checked+label::after {
    display: block;
}

.radiosmodel .item input[type=radio]:checked+label::before, 
.radiosmodel .item input[type=radio]:checked+label::after, 
.radiosmodel .item input[type=checkbox]:checked+label::before, 
.radiosmodel .item input[type=checkbox]:checked+label::after {
    -webkit-animation: cd-bounce .3s;
    -moz-animation: cd-bounce .3s;
    animation: cd-bounce .3s;
}
@-webkit-keyframes cd-bounce{0%,100%{-webkit-transform:scale(1)}50%{-webkit-transform:scale(.8)}}
@-moz-keyframes cd-bounce{0%,100%{-moz-transform:scale(1)}50%{-moz-transform:scale(.8)}}
@keyframes cd-bounce{0%,100%{-webkit-transform:scale(1);-moz-transform:scale(1);
-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(.8);-moz-transform:scale(.8);-ms-transform:scale(.8);-o-transform:scale(.8);transform:scale(.8)}}

.radiosmodel .item label:after,
.radiosmodel .item label:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.map_content .right_content{

-webkit-transition:all 0.4s;
-o-transition:all 0.4s;
-moz-transition:all 0.4s;
-ms-transition:all 0.4s;
transition:all 0.4s;
}
.map_content .right_content.current{
    padding-left: 61px;
}



/***************************************/
/*container-detail*/
.container-detail{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 15px;
    font-size: 14px;
}
.container-detail .detailTable{
    padding: 5px 0 20px 0;
    border-bottom: 1px dashed #f6f6f6;
}
.container-detail .detailTable:after{
    content: "";
    display: block;
    clear: both;
}
.container-detail .detailTable li{
    display: block;
    float: left;
    margin-right: 10px;
}
.container-detail .detailTable li a{
    display: block;
    padding: 6px 10px;
    border: 1px solid #eee;
    background-color: transparent;
    color: #666;
    border-radius: 4px;


}
.container-detail .detailTable li a:hover,
.container-detail .detailTable li a.active{
    /*	border: 1px solid #1890ff;
        background-color: #1890ff;*/
    border: 1px solid #279a99;
    background-color: #279a99;
    color: #fff;
}

.container-detail .detailTableContent{
    margin-top: 10px;
    position: relative;
}
.container-detail .detailTableContent li{
    display: none;
    position: absolute;

}
.container-detail .detailTableContent li.active{
    display: block;
}
.container-detail .detailTableContent li .box{
    padding: 0;
}
.container-detail .detailTableContent li .box-content{
    padding: 0;
}






.container-detail .box-content{
    background-color: #fff;
    padding: 10px 20px;
    font-size: 14px;
}
.container-detail .box-content p{
    font-size: inherit!important;
    text-align: right;
    margin-top: 0;
    height: 28px;
    line-height: 28px;
    width: 120px;
}

#SpillWayBackgroud,
#LyingPipeBackgroud,
#SiloBackgroud{
    height: 0!important;
    margin: 10px 0;
    border-bottom: 1px dashed #f6f6f6;
}



.container-detail .type1 .form-row{
    box-sizing: border-box;
    width: 24%!important;


}
.container-detail .type2 .form-row{
    box-sizing: border-box;
    width: 32.3333%!important;
}
.container-detail .type3 .box-content>div:first-child .form-row{
    box-sizing: border-box;
    width: 32.3333%!important;
    padding-right:8px;
}
.container-detail .type3 .form-row{
    box-sizing: border-box;
    width: 100%;
    padding-right:16px;
}

.container-detail .type1 .box-content p{
    width: 80px;
}
.container-detail .type2 .box-content p{
    width: 120px;
}
.container-detail .type3 .box-content p{
    width: 170px;
}
.container-detail .type3 .box-content>div:first-child p{
    width: 120px;
}
.container-detail .type4 .box-content p{
    width: 120px;
}

.container-detail .box-head h2,
.container-main .box-head h2{
    border-bottom: 0;
}

/**********************************/